<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to take progress photos for your fitness journey.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to save and view your progress photos.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to securely access your fitness data.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.company.FitnessTracker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitnesstracker</string>
			</array>
		</dict>
	</array>
</dict>
</plist>